<h1>Details</h1>

{{input type=text value=model.student.name}}
{{input type=text value=model.student.lastname}}
{{input type=text value=model.student.curp}}
<button {{action 'modifyStudent' on='click'}}>Save</button>