<form>
	<label>Name: </label>
	{{input type="text" value=nameuser}}<br><br>
	<label>Password: </label>
	{{input type="password" value=passworduser}}
	<button {{action 'doSomething' on="click"}}>Log in</button>
</form>
